<link rel="stylesheet" href="start-stop.component.css">
<div class="form-box">
  <div class="form">
    <div>
      <label >Total Tickets:</label>
        <input id="numTickets" type="number" [(ngModel)]="numTickets">
    </div>
    <br>
    <div>
      <label for="releaseRate">Release Rate:</label>
      <input id="releaseRate" type="number" [(ngModel)]="releaseRate">
    </div>
    <br>
    <div>
      <label for="retrievalRate">Retrieval Rate:</label>
      <input id="retrievalRate" type="number" [(ngModel)]="retrievalRate">
    </div>
    <br>
    <div>
      <label for="maxCapacity">Max Capacity:</label>
      <input id="maxCapacity" type="number" [(ngModel)]="maxTicketCapacity">
    </div>
  </div>
  <br>
  <div class="button">
    <button class="start" (click)="startTicketSystem()">Start</button>
  </div>
</div>
